body {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  /* background-image: url('accessory-decorative-beach-objects.jpg');
  background-size: cover;
  background-repeat: no-repeat; */

}
.container  {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    background-color: #333;
    color: #e4bc0c;
    padding: 10px 0;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: #e4bc0c;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #e4bc0c;
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: #e4bc0c;
  }



  .login-box{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #e4bc0c;
    width: 200px;
    height: 400px;
    margin: -20px -40px -20px 600px;
    padding: 20px;
  }
  
  .login-name{
    font-size: 32px;
    align-items: start;
    padding: 0 10px;
    margin: 0 0 10px;
    display: flex;
    flex-direction: row;
  }
  .login-name-enter{
    justify-content: space-around;
    height: 30px;
    width: 200px;
    border-radius: 25px;
  }
 
  .senha-name{
    font-size: 32px;
    align-items: start;
    padding: 0 10px;
    margin: 0 0 10px;
    display: flex;
    flex-direction: row; 
  }
  .senha-enter{
    justify-content: space-around;
    height: 30px;
    width: 200px;
    border-radius: 25px;
    position: fixed;
  }
 
  .button-send{
    margin: 60px 0 0 50px ;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #e4bc0c;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  } 
  .button-send:hover {
    background-color: #555;
    color:#f2f2f2;
  }


  .container2{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 400px;
    width: 600px;
    margin: 30px 0 0 300px ;
    padding: 20px;
  }
  .footer {
    background-color: #333;
    color: #e4bc0c;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 80px;
  }
