  body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: #e4bc0c;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #e4bc0c;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #e4bc0c;
}

.main-container {
    padding: 20px 0 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 80%;
    max-width: 1200px;
}

.AD-container {
    color: #f2f2f2;
    background-color: #333;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 600px;
     height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 32px;
}
.content-AD{
    font-size: 20px;
}
.text-AD{
    /* background-color: red; */
    height: 200px;
    align-items: center;
    padding: 30px 30px 130px 65px;
    margin: 0%;
}

.login-container {
    background-color: #e4bc0c;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    flex-direction: row;
    align-items: flex-start;
    height: 450;
    padding: 0 0px 129px 110px;
    width: 400px; 
}

.login-tela {
    width: 600px;
    height: 432px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    padding: 0px 100px 0 0px; 
}

.login-name, .senha-name {
    font-size: 26px;
    color:#333;
    margin: 0 -10px;
    padding: 0px 15px;
    margin-bottom: 0px;
}

.login-name-enter, .senha-enter {
    padding: 5px 10px;
    color: #333;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
}

.button-send {
  padding: 10px 30px;
  margin: 0px 0 0 100px;
  border: none;
  background-color: #333;
  color: #e4bc0c;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-send:hover{
    background-color: #555;
  
}

.footer {
    background-color: #333;
    color: #e4bc0c;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
}

.footer .container {
    max-width: 800px;
    margin: 0 auto;
}






